/*General*/
body {
    background: #CCBCBC;
}
.page-break {
    width: 200px;
    height: 1px;
    background: #063940;
    margin: 0 auto;
}
.container {
    padding-top: 4%;
}
.main, .skills, .blog {
    background: #C7C9ED;
}

/*Navbar Section */
#nav {
    margin: 4%;
}
.navbar-toggler-icon {
    color: white;
    background: white;
}
.custom-nav {
    background: #854798;
}
a.nav-link {
    color: white;
}
.nav-link:hover {
    color: #E0D2F2;
}

/*Main*/
.profile-pic { 
    text-align: center;
    margin: 0 auto;
    float: none;
}
.profile-pic img{
    max-width: 100%;
    height: auto;
    margin-bottom: 22px;
}

/*About*/
.carousel-inner img {
  margin: auto;
}
.language-img {
    height: 170px;
    width: 170px;
}

/*Portfolio*/

/*Contact*/
.contact-li {
    display: inline-block;
}

.fa-envelope {
    padding-left: 20px;
}
.fa-phone {
    padding-left: 20px;
    position: relative;
    top: 2px;
}


