/*General*/
body {
    background: #CCBCBC;
}
.main-heading {
    font-family: "eurostile",sans-serif;
}
.sub-heading {
    font-family: "europa",sans-serif;
}
#skills, #portfolio, #blog, #contact {
    color: #6c757d;
}
/*Navbar Section */
#nav {
    margin: 4%;
}
.navbar-light {
    background: white;
}
.navbar-link {
    color: #8C43FF;
}
.navbar-link:hover {
    color: #231070;
}

/*Main*/
.profile-pic { 
    text-align: center;
    margin: 0 auto;
    float: none;
}
.profile-pic img{
    max-width: 100%;
    height: auto;
    margin-bottom: 22px;
}

/*About*/
#about {
    padding: 10%;
    background: #8C43FF;
    color: white;
}
.carousel-inner img {
  margin: auto;
}
.language-img {
    height: 170px;
    width: 170px;
}

/*Portfolio*/

/*Contact*/
.my-logo {
    height: 20%;
    width: 20%;
    padding: 0;
}
.contact-li {
    display: inline-block;
}
.phone, .email {
    color: #8C43FF;
}
.email:hover, .phone:hover {
    color: #231070;
}
.fa-envelope {
    padding-left: 20px;
    color: #8C43FF;
}
.fa-phone {
    padding-left: 20px;
    position: relative;
    top: 2px;
    color: #8C43FF;
}